:root {   
    --color-primary: #FF335F;
    --color-secondary: #A72E76;
    --color-primary-hover: #e62a54;     
    --color-primary-pale: #ff9eb3;      
    --color-primary-disabled: #ff8da5;
    --color-text-main: #000000;
    --color-text-subtle: #6E6E6E; 
    --color-text-inverse: #ffffff;      
    --color-text-light: #666666;    
    --color-text-darker: #333;
    --color-text-muted: #999999;        
    --color-text-placeholder: #888888;
    --color-bg-body: #ffffff;
    --color-bg-light: #f9f9f9;          
    --color-bg-card: #ffffff;           
    --color-bg-dark: #1a1a1a;
    --color-border: #eeeeee;
    --color-input-border: #dddddd;
    --color-icon-bg: #e0e0e0;           
    --color-bg-gradient-start-rgb: 255, 51, 95; 
    --color-bg-dark-end: #050B11;       
    --color-gradient-start: #FF8FA7;   
    --color-gradient-mid: #FF8A86;
    --color-gradient-end: #FFAF8F;
    --container-padding-x: 20px;
    --container-padding-y: 30px;
    --base-gap: 30px;
    --border-radius-default: 20px;
    --border-radius-small: 12px;
    --border-radius-circle: 50%;
    --shadow-primary-strong: rgba(255, 51, 95, 0.3);
    --shadow-primary-soft: rgba(255, 51, 95, 0.1);
    --shadow-text-soft: rgba(0, 0, 0, 0.1);
    --shadow-text-medium: rgba(0, 0, 0, 0.2);
    --shadow-text-strong: rgba(0, 0, 0, 0.3);
    --shadow-modal: rgba(0, 0, 0, 0.5);
    --shadow-promo-x: 35px;
    --shadow-promo-y: 30px;
    --shadow-promo-blur: 50px;
    --shadow-promo-color: rgba(0, 0, 0, 0.40);
    --shadow-promo-full: var(--shadow-promo-x) var(--shadow-promo-y) var(--shadow-promo-blur) var(--shadow-promo-color);
    --color-header-primary: var(--color-primary);
}
.dark-mode {
    --color-border: #CF87DD;
    --color-input-border: #4A0897;
    --color-bg-body: #000C22;           
    --color-bg-card: #000C22;           
    --color-bg-sidebar: #050B11;        
    --color-bg-light: #050B11;         
    --color-primary: #520CA7;           
    --color-primary-hover: #450A8C;     
    --color-secondary: #CF87DD;         
    --color-text-main: #FFFFFF;        
    --color-text-inverse: #FFFFFF;   
    --color-text-subtle: #A0A0A0;       
    --color-text-darker: #FFFFFF;       
    --color-text-light: #A0A0A0;        

    /* 4. ГРАДИЕНТЫ */
    --color-gradient-start: #CF87DE;
    --color-gradient-mid: #B67CD1; 
    --color-gradient-end: #986BE4; 
    --color-bg-dark-end: #2D2736;
    --color-bg-gradient-start-rgb: 82, 12, 167; 

    /* 5. ТЕНИ */
    --shadow-primary-soft: rgba(207, 135, 221, 0.15);
    --shadow-primary-strong: rgba(207, 135, 221, 0.3);
    --shadow-text-soft: rgba(255, 255, 255, 0.1);
    --shadow-text-medium: rgba(255, 255, 255, 0.2);
    --shadow-text-strong: rgba(255, 255, 255, 0.3);
    --shadow-modal: rgba(255, 255, 255, 0.5);
    
    /* 6. ЛОКАЛЬНОЕ ДЛЯ HEADER */
    --color-header-primary: #CF87DD;    /* Локальный акцент в хедере */
}