<section class="book-genres-section">
    <div class="book-genres__header">
        <h2 class="book-genres__title">Книжные жанры</h2>
        <h3 class="book-genres__subtitle">Наши популярные категории по продажам</h3>
    </div>
    <div class="book-genres__wrapper">
        <button class="book-genres__arrow book-genres__arrow--left">←</button>
        <div class="book-genres__content">
            </div>
        <button class="book-genres__arrow book-genres__arrow--right">→</button>
    </div>
    <button class="book-genres__btn-primary">Смотреть больше →</button>
</section>