<section class="discount-promo">
    <div class="discount-promo__background-fill">
        </div>
    <div class="discount-promo__content-wrapper">
        <div class="discount-promo__container">
            <div class="discount-promo__content">
                <h2 class="discount-promo__title">Акция</h2>
                <p class="discount-promo__description">
                    Подпишитесь на нашу электронную рассылку, чтобы 
                    получать информацию о будущих скидках, 
                    личных предложений и новостях о компании.
                    <br>
                    Также вы получите скидку в 20% на следующий заказ
                </p>
                <form class="discount-promo__form">
                    <input 
                        type="email" 
                        class="discount-promo__input" 
                        placeholder="Введите свою почту..."
                        name="email"
                        required
                    />
                    <button type="submit" class="discount-promo__button">
                        Подписаться на рассылку
                    </button>
                </form>
            </div> 
            <div class="discount-promo__image-wrapper">
                <img
                    src="./assets/images/discountbook.webp" 
                    alt="Stack of books" 
                    class="discount-promo__image" 
                />
            </div>
        </div>
    </div>
</section>