<footer class="footer">        
        <div class="footer__block footer__logo-block">
            <div class="footer__logo">
                <svg width="64" height="60" viewBox="0 0 64 60" fill="none" xmlns="http://www.w3.org/2000/svg" class="footer__logo__img">
                    <path d="M32.2136 19.5641C37.7135 19.5641 42.1533 15.1773 42.1533 9.76909C42.1533 4.37182 37.7149 0 32.2136 0C26.7206 0 22.2614 4.37318 22.2614 9.76909C22.2614 15.1759 26.722 19.5641 32.2136 19.5641ZM41.8847 21.8182C46.4358 21.8182 48.3461 25.6282 48.3461 25.6282L63.0344 45.4623C63.6424 46.3473 64 47.43 64 48.5986C64 51.6805 61.4566 54.1855 58.322 54.1855C57.572 54.1855 56.8458 54.0259 56.2085 53.7832L47.304 51.3641V60H16.6946V51.3641L7.7873 53.7873C7.1612 54.0273 6.44049 54.1909 5.68778 54.1909C2.55588 54.1909 0 51.6955 0 48.6136C0 47.4464 0.352008 46.3814 0.982282 45.4936L15.6609 25.6282C15.6609 25.6282 17.5698 21.8182 22.1014 21.8182H41.8847ZM32.0077 53.9836L43.4806 50.2473L43.2316 50.1791C35.294 47.8991 38.3368 37.5955 46.2549 39.9014L47.304 40.2668V28.6473L32.0146 33.5877L16.6946 28.6473V40.2668L17.7437 39.9C25.6576 37.5955 28.7325 47.8977 20.8005 50.1777L20.5222 50.2459L32.0077 53.9836Z"/>
                </svg>
                <a href="./index.html"><span class="footer__logo__title">Фолиант</span></a>
            </div>
            <p class="footer__copyright">
                © 2025, ФОЛИАНТ. Все права защищены.
            </p>
        </div>
        <div class="footer__block footer__links-group">
            <span class="footer__title">Интернет-магазин</span>
            <ul class="footer__list">
                <li class="footer__list__item"><a href="#" class="footer__list__link">Акции</a></li>
                <li class="footer__list__item"><a href="#" class="footer__list__link">Распродажа</a></li>
                <li class="footer__list__item"><a href="#" class="footer__list__link">Доставка и оплата</a></li>
                <li class="footer__list__item"><a href="#" class="footer__list__link">Программа лояльности</a></li>
                <li class="footer__list__item"><a href="#" class="footer__list__link">Подарочные сертификаты</a></li>
            </ul>
        </div>
        <div class="footer__block footer__links-group footer__contacts">
            <span class="footer__title">Контакты</span>
            <ul class="footer__list">
                <li class="footer__list__item"><a href="#" class="footer__list__link">Мы в соцсетях</a></li>
                <li class="footer__list__item">
                    <span class="footer__contact-label">Наша почта:</span>
                    <a href="mailto:foliant@gmail.com" class="footer__list__link">foliant@gmail.com</a>
                </li>
                <li class="footer__list__item">
                    <span class="footer__contact-label">Номер тех. поддержки:</span>
                    <a href="tel:89501414444" class="footer__list__link">8 950 141-44-44</a>
                </li>
            </ul>
        </div>
        <div class="footer__block footer__links-group">
            <span class="footer__title">Важные ссылки</span>
            <ul class="footer__list">
                <li class="footer__list__item"><a href="#" class="footer__list__link">Политика конфиденциальности</a></li>
                <li class="footer__list__item"><a href="#" class="footer__list__link">FAQs</a></li>
                <li class="footer__list__item"><a href="#" class="footer__list__link">Условия использования</a></li>
            </ul>
        </div>
</footer>