<div class="container">
        <div class="welcome-message">
            <h2>Добро пожаловать!</h2>
            <p>Привет! Вы в «Фолианте». Забудьте на минуту о бесконечных лентах соцсетей — у нас ждут самые захватывающие истории, проверенные временем.</p>
            <p>Здесь есть всё:</p>
            <ul>
                <li>Бестселлеры, о которых все говорят.</li>
                <li>Сокровища мировой классики, которые стоит перечитать.</li>
                <li>Нешаблонная литература на любой, даже самый взыскательный вкус.</li>
            </ul>
            <p>Не знаете, что почитать? Наша команда с радостью составит для вас персональную подборку, просто спросите!</p>
            <p>«Фолиант» — заряжаем чтением!</p>
        </div>
        <div class="bookstore-image">
            <img src="./assets/images/bookstore.webp" class="bookstor-image__image">
        </div>
    </div>