<section class="books-slider">
  <div class="slider">
    <h2 class="slider__title">Популярные новинки</h2>
    <div class="slider__wrapper">
    <button class="slider__arrow slider__arrow--left">←</button>
    
    <a href="#" class="slider__content js-open-book-modal">
        <div class="slider__text">
            <h3 class="slider__book-title"></h3>
            <p class="slider__book-desc"></p>
        </div>
        <img class="slider__book-img" src="" alt="book cover" />
    </a>
    <button class="slider__arrow slider__arrow--right">→</button>
</div>
    <div class="slider__dots" role="tablist" aria-label="Slider dots"></div>
  </div>
</section>