<section class="what-we-do-section">
    <div class="what-we-do__background-fill"></div>
    <div class="what-we-do__content-wrapper">
        <h2 class="what-we-do__title">Что мы делаем?</h2>
        <div class="what-we-do__main-content">
            <div class="what-we-do__text-block">
                <p class="what-we-do__paragraph">
                    «Фолиант» – место, где рождаются ваши 
                    любимые истории. Мы совмещаем тщательно отобранный 
                    ассортимент книг с высоким уровнем 
                    сервиса, создавая комфортную среду для 
                    всех ценителей литературы.
                </p>

                <p class="what-we-do__paragraph">Чем мы занимаемся:</p>

                <ul class="what-we-do__list">
                    <li>
                        Подбираем книги индивидуально – помогаем найти 
                        именно то, что вам нужно.
                    </li>
                    <li>
                        Обеспечиваем удобные способы покупки – уютный 
                        магазин, быстрая доставка, самовывоз
                    </li>
                </ul>

                <p class="what-we-do__paragraph">
                    Наша цель – делать процесс выбора и чтения книг 
                    по-настоящему приятным и вдохновляющим.
                </p>
                <p class="what-we-do__paragraph">
                    Мы ценим ваше время и любовь к чтению, 
                    поэтому предлагаем только проверенные решения 
                    и внимательное отношение к каждому посетителю.
                </p>
            </div>
            
            <div class="what-we-do__image-grid">
                <img 
                    src="./assets/images/whatwedoing1.webp" 
                    class="what-we-do__image"
                />
                <img 
                    src="./assets/images/whatwedoing2.webp" 
                    class="what-we-do__image"
                />
                <img 
                    src="./assets/images/whatwedoing3.webp" 
                    class="what-we-do__image"
                />
            </div>
        </div>
    </div>
</section>